@{
    ViewData["Title"] = "Henüz Bir Çeviri Türü Eklemediniz";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>Lütfen <a asp-controller="TranslationType" asp-action="Create">buraya</a> tıklayarak çeviri türü ekleyin.</p>
</div>